.image-gallery-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
}
.image-gallery-selects{
    font-family: 'iranSans';
    font-size: 32px;
    
}
.image-gallery-images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.image-gallery-images img{
    margin:0 24px;
}
@media only screen and (max-width:1100px) {
    .image-gallery-container{
        overflow: hidden;
    }
}