.header{
    width: 100%;
    height:100vh;
    overflow: hidden;
    position: relative;
    top: 0;
    left:0;
    opacity: 1;
}
#header-video{
    width: 100%;
    height: 100%;
position:absolute;
z-index: -1;
object-fit: cover;
filter:opacity(90%);

}
.nav-container{
    width: 100%;
    background-color: rgba(40, 37, 37, 0.5);
    display: flex;
    justify-content: space-between;
}
.nav-menu ul{
    display: flex;
    list-style: none;
}
.nav-menu ul a{
    font-family: iranSans;
    text-decoration: none;
    font-size: 32px;
    color:rgb(52 255 255);
    text-shadow: 5px 5px 5px rgba(0,0,0,.3);
    margin: 0 15px;
    transition: 0.3s;
}
.nav-menu ul a:hover{
    color: white;
}
.header-content{
    width: 100%;
    display: flex;
    padding-top: 200px;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
    height: calc(100%-80px);
    text-align: center;
}
.header-content-wrapper{
    display:inline-block;
    width:30%;
    padding-top:100px;
}
.search-input-container{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:white;
}
.search-input-container input{
    color:white;
    font-size:24px;
    font-family: iranSans;
    line-height: 20px;
    direction: rtl;

}

.header-content-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input-container input:focus{
    border: none !important;
    outline: none;
}
.search-input-container input::placeholder{
 color:white
}
@media only screen and (max-width: 700px){
    .search-input-container input{
        color:white;
        font-size:18px;
        font-family: iranSans;
        line-height: 20px;
        direction: rtl;
    
    }
    .header-content-wrapper{
        width:50%;
        padding-top:30px
    }
	
}