.admin-header{
    display:flex;
    justify-content: space-between;
    margin:16px 32px;
    align-items: center;
    gap: 32px;


}

.header-center{
    flex-grow: 1;
}



.header-searchInput{
    padding: 4px 8px;
    /* border-radius: 11px 28px 33px 12px; */
    /* width: 100%; */
    border: 1px dotted;
}



.header-right{
    display: flex;
    gap:16px;
}
.admin-main{
    display: flex;
    justify-content: start;
    align-items: start;
    height: 90vh;



}
.left-nav{
    display: flex;
    flex-direction: column;
    gap:4px;
    justify-content: center;
    align-items: center;
    margin:0 36px;
    padding:8px 12px;
    font-family: iranSans;


}
.content{
    flex-grow: 2;
}
.nav-item-container{

}