.main-dialog-container{
    display: flex;
    flex-direction: column;

}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}