.video-icon{
    color:white;
    transition: 1.5s;
}
.video-icon:hover{
    color: red;

}
.rows{
    overflow: hidden;
    max-width: 300px;
}
.row-alt{
    overflow: hidden;
    max-width: 200px;

}