
@font-face {
  font-family: 'Diba'; /* this value can be anything you wish - it gets used in the class definition below */
  src: url('../assets/fonts/Diba.ttf'); /* add the file path to your font here */
}
@font-face {
  font-family: 'iranSans'; /* this value can be anything you wish - it gets used in the class definition below */
  src: url('../assets/fonts/IRAN\ Sans\ Regular.ttf'); /* add the file path to your font here */
}

body{
  margin: 0;
  padding: 0;
}    
#box1{
  height: 100vh;
  width: 100%;
  background-image: url('../assets/images/nav/alvand.jpg');
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
#box2{
  height: 100vh;
  width: 100%;
  background-image: url('../assets/images/nav/dena4.jpg');
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
#box3{
  height: 100vh;
  width: 100%;
  background-image: url('../assets/images/nav/deylaman.jpg');
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
#box4{
  height: 100vh;
  width: 100%;
  background-image: url('../assets/images/nav/peykan.jpg');
  background-size: cover;
  display: table;
  background-attachment: fixed;
}
h1{
  font-family: Diba;
  font-size: 50px;
  color:white;
  margin: 0px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
