.card-container{
    display: flex;
    flex-direction: column;
    gap:32px;
    background-color: rgb(237 237 237 / 50%);
    border-radius: 30px;
    padding:24px;
    justify-content: center;
    align-items: end;
    width:400px;
    height: 490px;
    margin: 0;
    

}
.card-detail{
    display: flex;
    flex-direction: column;
    text-align: end;
    direction: rtl;
    text-align: start;



}
.shahid-detail-span{
    font-family: iranSans;
    font-weight: bold;
    padding-right: 4px;
}
span{
    font-family: Diba;
}
.card-title{
    color: white;
    font-size: 32px;
    font-weight: bold;
}
.shahid-name{
    color:#FF0000;
    font-size: 24px;
    font-weight: bold;
}
.card-image{
    border-radius: 30px;
    width: 130px;
    height: 135px;
    overflow: hidden;
    padding-bottom: 10px;


}.shahid-image-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
}
.card-image img{
    margin-top: 14px;

}
@media only screen and (max-width: 430px) {
    .card-container{
        padding:12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-title{
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
    .shahid-name{
        color:#FF0000;
        font-size: 16px;
        font-weight: bold;
    }
}