.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: white;
}
.shahid-container{
    height: fit-content;
    background: rgb(1, 32, 44) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:120px auto;
    gap: 25px;

}
.search-background{
    height: 130vh;
}