.footer-container{
    background-color: rgb(1, 32, 44);
    color:white;
    direction: rtl;
    height: 75vh;
}
.footer-header-title{
    font-family: diba;
    display: inline;
    max-width: 30%;
    padding:20px;
    font-size: 32px;
}
.footer-content-inner{

    display: flex;
    flex-direction: column;
}
.footer-links-inner{
    display: flex;
    flex-direction: row;


}
.footer-links-section{
    display: flex;
    flex-direction: column;
}
.footer-link-and-button-container{
    display: flex;
    flex-direction: row;
}
.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-link-line{

}
.footer-icons-group{
    display: flex;
    flex-direction: row;
}